*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    /* background-image: url('/assets/bg-contador.png');  */
    background-image: url('imgs/personagens.jpg');
    /* background-image: url('./bg-contador.png'); */
    background-size: 100%;
    background-repeat: no-repeat;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    /* user-select: none; */
}
.logo{
    width: 387px;
    height: 250px;
}
.normal{
    background-color: #ffff;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #00000080;
}

h3{
    font-size: 20px;
}
.title {
    font-size: calc(10px + 3vw);
    color: rgb(213, 49, 49);
}

.title p {
    font-size: calc(20px + 1vw);
    color: rgb(240, 248, 255);
    text-shadow: 
    -2px -2px 0 #000,  
     1px -2px 0 #000,
    -2px  1px 0 #000,
     1px  1px 0 #000;
}

.countdown{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown h1{
    font-size: calc(10px + 7.5vw);
    color: rgb(249, 247, 247);
     text-shadow: 
    -2px -2px 0 #000,  
     1px -2px 0 #000,
    -2px  1px 0 #000,
     1px  1px 0 #000;
     text-shadow: 10px 10px 20px black;
}

.botao {
    background-color: #b32020;
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
     box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5);
}
.botao:hover {
    background-color: #8f1818;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.8);
}